body {
    background-color: #444b4b;
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 20px;
    color: #333;
}

h1 {
    color: #66BFBF;
    font-style: italic;
}

h2, h3 {
    color: #66BFBF;
}

a {
    color: #3498db;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

table {
    width: 100%;
}

table td {
    vertical-align: top;
}

img {
    max-width: 150px;
    border-radius: 50%;
}

hr {
    border-style: none;
    border-color: silver;
    border-top-style: dotted;
    border-width: 5px;
    width: 5%;
    margin: 20px 0;
}

ul, ol {
    margin: 0;
    padding: 0 0 0 20px;
}

ul li, ol li {
    margin-bottom: 10px;
}
